<div class="container">
  <p>Demo page.</p>
  <app-custom-select
    [(ngModel)]="selectedValue1"
    [options]="selectOptions"
    style="
      --font-family: 'Roboto';
      --font-size: 16px;
    "
  ></app-custom-select>
  <app-custom-select
    [(ngModel)]="selectedValue2"
    [options]="selectOptions"
    [disabled]="true"
  ></app-custom-select>
  <div class="switch-container">
    <app-custom-switch
      [(modelValue)]="switchState1"
    ></app-custom-switch>
    <p>Estado: {{ switchState1 }}</p>
  </div>
  <div class="switch-container">
    <app-custom-switch
      [(modelValue)]="switchState2"
      [disabled]="true"
    ></app-custom-switch>
    <p>Estado: {{ switchState2 }}</p>
  </div>
  <div class="switch-container">
    <app-custom-switch
      [(modelValue)]="switchState3"
      [disabled]="true"
    ></app-custom-switch>
    <p>Estado: {{ switchState3 }}</p>
  </div>
</div>
