<div
  class="dropdown"
  [class.disabled]="disabled"
  tabindex="0"
  role="combobox"
  aria-haspopup="listbox"
  [attr.aria-expanded]="dropdownOpen"
  [attr.aria-disabled]="disabled"
  [attr.aria-activedescendant]="'option-' + focusedIndex"
  (click)="toggleDropdown()"
  (keydown)="handleKeydown($event)"
  (focusout)="onBlur($event)"
>
  <div
    class="dropdown-selected"
    [class.empty-selected]="value === ''"
  >
    {{ selectedLabel || placeholder }}
  </div>

  <ul
    *ngIf="dropdownOpen"
    role="listbox"
    class="dropdown-options"
    [id]="'dropdown-options-list'"
  >
    <li
      *ngFor="let opt of options; let i = index"
      [id]="'option-' + i"
      role="option"
      [attr.aria-selected]="value === opt.value"
      [class.focused]="focusedIndex === i"
      [class.disabled]="opt.disabled"
      (click)="!opt.disabled && selectOption(opt.value)"
    >
      <span *ngIf="value === opt.value && !opt.disabled" class="check-mark">✔</span>
      <span class="option-label">{{ opt.label }}</span>
    </li>
  </ul>
</div>
