:host {
  --font-family: Arial, sans-serif;
  --font-size: 1rem;
  --text-color-empty: rgba(0, 0, 0, 0.3);
  --color: rgba(0, 0, 0, 0.9);
  --selected-color: rgba(255, 255, 255);
  --border-color: rgba(0, 0, 0, 0.7);
  --border-color-hover: rgb(20, 58, 129);
  --background: #eee;
  --selected-background: rgb(88, 132, 212);
  --padding-horizontal: 0.5rem;
  --padding-vertical: 0.7rem;

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal, 400);
  display: inline-block;
}

.dropdown {
  position: relative;
  user-select: none;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background: var(--background);
  font-size: var(--font-size);
  min-width: 280px;
  cursor: pointer;
}

.dropdown:hover {
  border: 1px solid var(--border-color-hover);
}

.dropdown.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.dropdown-selected {
  display: flex;
  padding: 0.7rem 0.5rem 0.5rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  color: var(--color);
}

.dropdown-selected.empty-selected {
  color: var(--text-color-empty);
}

.dropdown-options {
  list-style: none;
  width: 100%;
  margin: 2px 0;
  padding: 0;
  position: absolute;
  color: var(--color);
  background: var(--background);
  border: 1px solid var(--border-color);
  border-top: none;
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-options li {
  display: flex;
  position: relative;
  padding: 0.3rem 2rem;
  font-size: small;
  cursor: pointer;
}

.dropdown-options li.focused {
  color: var(--selected-color);
  background-color: var(--selected-background);
}

.dropdown-options li.disabled {
  color: var(--text-color-empty);
  pointer-events: none;
}

.dropdown-options li .check-mark {
  position: absolute;
  top: 0.2rem;
  left: 1rem;
  font-weight: bold;
  font-size: smaller;
}

.custom-select-option {
  position: relative;
  font-size: small;
  line-height: 2;
}

option.custom-select-option:checked {
  position: relative;
}

.chevron {
  width: 2em;
  height: 1.5em;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%23666' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 8.59 12 13.17l4.59-4.58L18 10l-6 6-6-6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
}
